<div class="py-5 px-[3%]">
    <h2 class="text-3xl font-semibold text-[#363636]">Nhân viên</h2>
    <div class="grid grid-cols-4 gap-5 py-3">
        <div class="bg-[#f5f1ff] rounded-lg py-4 px-3 gap-3 flex items-center shadow-md shadow-gray-100">
            <div class="bg-white py-5 w-10 h-8 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="flex flex-col">
                <span class="font-semibold text-[#363636] text-lg">Tổng nhân viên</span>
                <span class="text-lg">{{listEmployees.length}}</span>
            </div>
        </div>
        <div class="bg-[#f5f1ff] rounded-lg py-4 px-3 gap-3 flex items-center shadow-md shadow-gray-100">
            <div class="bg-white py-5 w-10 h-8 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="flex flex-col">
                <span class="font-semibold text-[#363636] text-lg">Tổng nhân viên</span>
                <span class="text-lg">100</span>
            </div>
        </div>
        <div class="bg-[#f5f1ff] rounded-lg py-4 px-3 gap-3 flex items-center shadow-md shadow-gray-100">
            <div class="bg-white py-5 w-10 h-8 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="flex flex-col">
                <span class="font-semibold text-[#363636] text-lg">Tổng nhân viên</span>
                <span class="text-lg">100</span>
            </div>
        </div>
        <div class="bg-[#f5f1ff] rounded-lg py-4 px-3 gap-3 flex items-center shadow-md shadow-gray-100">
            <div class="bg-white py-5 w-10 h-8 flex justify-center items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                </svg>
            </div>
            <div class="flex flex-col">
                <span class="font-semibold text-[#363636] text-lg">Tổng nhân viên</span>
                <span class="text-lg">100</span>
            </div>
        </div>
        
    </div>
    <div class="flex justify-between items-center mt-12 mb-6">
        <div class="flex items-center gap-3">
            <div class="py-[8px] px-[16px] rounded-lg border">
                <input class="outline-none border-none" type="text" placeholder="Tên nhân viên">
            </div>
            <div class="py-[8px] px-[16px] rounded-lg border">
                <select class="outline-none border-none" name="" id="">
                    <option value="">Chức vụ</option>
                    <option value="">Nhân viên</option>
                    <option value="">Teamleader</option>
                    <option value="">Quản lý</option>
                </select>
            </div>
            <div class="py-[8px] px-[16px] rounded-lg border">
                <select class="outline-none border-none" name="" id="">
                    <option value="">Khu vực</option>
                    <option value="">Bắc</option>
                    <option value="">Trung</option>
                    <option value="">Nam</option>
                </select>
            </div>
        </div>
        <div>
            <button class="group py-[10px] flex items-center gap-[4px] px-3 border-[1.2px] hover:text-[#363636] bg-[#001b13] hover:bg-[#fff] rounded-md font-medium leading-none text-white">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-5 h-5 group-hover:stroke-[#363636]">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
                <span>Nhân viên mới</span>                      
            </button>
        </div>
    </div>
    <div class=" py-4">
        <div class="flex justify-between pb-5 items-center">
            <span class="font-semibold">Hiển thị 30 nhân viên</span>
            <div>
                <!-- Short -->
                <div class="flex font-semibold gap-2 items-center">
                    <span>Sắp xếp theo:</span>
                    <select name="" id="">
                        <option value="">Mới nhất</option>
                        <option value="">Cũ nhất</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="grid-cols-5 gap-4 grid">
            <div *ngFor="let employee of listEmployees" class="p-4 w-full rounded-lg shadow-md text-center">
                <div class="bg-slate-500 mb-4 w-14 h-14 mx-auto overflow-hidden rounded-full">
                    <img class="w-full h-full object-cover" src="{{employee.avatar}}" alt="">
                </div>
                <span class="font-semibold text-lg block">{{employee.name}}</span>
                <span class="py-[4px] px-[9px] rounded-full text-center inline-block bg-slate-300 text-sm leading-none mb-4 font-medium">{{employee.position}}</span>
                <div>
                    <div class="flex justify-between items-center">
                        <span class="font-medium">Dự án:</span>
                        <span>24</span>
                    </div>
                    <div class="flex justify-between items-center">
                        <span class="font-medium">Khu vực:</span>
                        <span>Bắc</span>
                    </div>
                </div>
                <button class="w-full mt-4 justify-center group py-[10px] flex items-center gap-[4px] px-3 border-[1.5px] border-gray-100 text-[#363636] hover:bg-[#001b13] rounded-md font-medium leading-none hover:text-white">
                    <span>Xem nhân viên</span>                      
                </button>
            </div>
            
        </div>
    </div>
</div>