<div class="py-5 px-[3%]">
    <h2 class="text-3xl font-semibold text-[#363636]">{{project.name}} (#{{project.id}})</h2>

    <div>
        <div class="flex gap-2 items-center">
            <span class="text-[#333] font-semibold">Nhóm trưởng:</span>
            <span class="text-blue-600 font-semibold">{{project.leader_name}}</span>
        </div>
    </div>
    <div class="grid-cols-3 gap-4 grid py-4">
        <div class="col-span-2">
            <div class="w-full rounded-xl overflow-hidden">
                <img class="w-full h-full object-cover" src="{{project.imageUrl}}" alt="">
            </div>
            <div class="flex gap-[4px] justify-between items-center py-4">
                <div>
                    <span class="text-lg font-semibold block">Thời gian bắt đầu</span>
                    <span class="text-blue-500 font-extrabold text-lg">{{project.dayStart | date:'dd/MM/Y'}}</span>
                </div>
                <div class="text-right">
                    <span class="text-lg font-semibold block">Tổng chi phí dự án</span>
                    <span class="text-red-600 font-extrabold text-lg">{{project.cost | currency:'VND':'đ':'1.0-0':'vi'}}</span>
                </div>
            </div>
            <!-- <div>
                <span class="text-lg font-semibold">Trạng thái</span>
                <span class="text-[#777]">{{project.status}}</span>
            </div> -->
            <div>
                <span class="text-lg font-semibold">Mô tả</span>
                <p class="text-[#777]">{{project.description}}</p>
            </div>
        </div>
        <div class="border-[1.2px] rounded-lg text-center h-fit px-4">
            <span class="text-lg font-semibold pt-2 pb-2 mb-2 border-b block">Thành viên trong dự án</span>
            <div *ngFor="let member of listMembers" class="flex flex-col">
                <div class="flex justify-between items-start py-[5px]">
                    <span class="text-[#363636] text-left font-semibold">{{member.name}} <p class="font-normal">({{member.position}})</p></span>
                    <span routerLink="/nhan-vien/{{member.id}}" class="hover:text-blue-500 text-right cursor-pointer font-semibold">Xem chi tiết</span>
                </div>
            </div>
            <!-- <div>
                <button class="group py-[10px] flex items-center gap-[4px] px-3 border-[1.2px] text-[#363636] hover:bg-[#001b13] rounded-md font-medium leading-none hover:text-white">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#363636" class="w-5 h-5 group-hover:stroke-[#fff]">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    <span>Thêm thành viên</span>                      
                </button>
            </div> -->
        </div>

        <div class="col-span-2">
            <div class="flex gap-2 items-center">
                <span class="text-[#333] font-semibold">Công việc:</span>
                <span class="text-blue-600 font-semibold">{{listTasks.length}}</span>
            </div>
            <div class="grid-cols-2 gap-4 grid py-4 w-full">
                <div *ngIf="listTasks.length==0" class="">
                    <div>
                        <span>Dự án hiện không có công việc nào!</span>
                    </div>
                </div>
                <div *ngFor="let task of listTasks" routerLink="/du-an/2" class="w-full relative group hover:border-blue-600 transition-all duration-300 p-3 border-[1.2px] rounded-xl cursor-pointer">
                    <div class="absolute right-2 top-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#121212" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                        </svg>                          
                    </div>
                    <div class="mb-2 w-[95%]">
                        <span class="font-semibold text-lg line-clamp-1">{{task.name}}</span>
                    </div>
                    <div class="mb-2">
                        <p class="line-clamp-3">{{task.description}}</p>
                    </div>
                    <div class="flex justify-between items-end">
                        <div class="flex items-center gap-2">
                            <div class="w-8 h-8 overflow-hidden rounded-full">
                                <img class="w-full h-full object-cover" src="{{task.employee_avatar}}" alt="">
                            </div>
                            <span class="line-clamp-1">{{task.employee_name}}</span>
                        </div>
                        <div class="">
                            <span *ngIf="task.status=='canceled'" class="text-sm bg-red-600 py-[6px] px-[8px] rounded-xl leading-none inline-block font-semibold text-white">{{task.statusText}}</span>
                            <span *ngIf="task.status=='completed'" class="text-sm bg-green-600 py-[6px] px-[8px] rounded-xl leading-none inline-block font-semibold text-white min-w-[93px]">{{task.statusText}}</span>
                            <span *ngIf="task.status=='inprogress'" class="text-sm bg-orange-600 py-[6px] px-[8px] rounded-xl leading-none inline-block font-semibold text-white">{{task.statusText}}</span>
                            <span *ngIf="task.status=='new'" class="text-sm bg-purple-600 py-[6px] px-[8px] rounded-xl leading-none inline-block font-semibold text-white">{{task.statusText}}</span>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>